/*
Author: Daniel Baliczek
Date Created: 8/23/2017
Last Updated: 8/23/2017

                 Color key
+==========================================+
|Red/Orange:                      #d33900; |
|Dark Grey:                       #373737; |
|Light Grey:                      #d7d7d7; |
|White:                           #ffffff; |
|Salmon:                          #F79976; |
+==========================================+

*/
img{
    width: 100%;
    margin: .5em;
}
h1{
    font-size: 2.5rem;
    font-weight: 600 !important;
    color: #373737;
}
h2{
    font-size: 2rem;
    font-weight: 600 !important;
    color: #373737;
}
.fancy{
    font: 400 3.5rem/0.8 'Great Vibes', Helvetica, sans-serif;
}
.card{
    background-color: #F79976;
    border: 5px solid #FFFFFF;
    border-radius: 10px;
}
.card-block{
    background-color: #F79976;
}
.head-banner{
    width: 100%;
    text-align: center;
    background-color: #d33900;
    color: #ffffff;
    padding: 2rem 1rem ;
    margin-bottom: .5em;
}
.head-banner > h1{
    color: #ffffff;
}
.head-banner > h2{
    color: #ffffff;
}
.desc-img{
    text-align: center;
    background-color: #ffffff;
}
.desc-img >img{
    max-width: 200px;
}
.desc-text{
    padding: 2rem 1rem;
    background-color: #ffffff;
    color: #373737;
    font-size: 1.25rem;
    margin-bottom: .5em;
}
.v-center{
    position: relative;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}
